# Build output
bin/
obj/

# User-specific
*.suo
*.user
*.userosscache
*.sln.docstates

# VS/IDE folders
.vs/
.vscode/

# OS files
.DS_Store
Thumbs.db

# Configs sensíveis
**/appsettings.json
**/appsettings.*.json
.env
.env.*

# Logs
*.log

# Database files
*.db
